:root {
    --bs-white: #fff;
    --container--quienesSomos--red: #FF2D2D;
    --bg-btn-card-red: #FF9696;
}


/*CAROUSEL*/

.homepage-carousel-container {
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;
    position:relative;
}

.img {
    height: 100%;
    transform: translateY(-33%);
}
.carousel {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.title-projects {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 600;
    text-shadow: 2px 1px 5px rgba(145, 150, 150, 0.18);
}

.carousel-caption h5, .carousel-caption p {
    color: var(--purewhite);
    font-size: 17px;
    text-shadow: 2px 1px 5px rgba(145, 150, 150, 0.18);
}


/*Quienes Somos*/
/*.empresa-container {
    color: var(--bs-white);
    background-color: var(--container--quienesSomos--red);
    margin-top: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.title-quienesSomos {
    padding-top: 20px;
    margin-top: 70px;
    font-size: 34px;
    text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.2);
}

.quienesSomos-container {
    background-color: var(--container--quienesSomos--red) !important;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    gap: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
}

.text-quienesSomos-container {
    width: 100%;
    max-width: 600px;
    align-items: center;
    letter-spacing:1.5px;
    font-size: 16px;
    text-shadow: 2px 1px 5px rgba(145, 150, 150, 0.18);
}

.img-quienesSomos-container {
    width: 100%;
    max-width: 320px;
    max-height:200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}*/

/*CARDS CONTAINER*/

.card-container {
    margin-top: 12px;
    margin-bottom: 85px;
    display: flex;
    gap: 3rem;
    
}
.card {
    width: 61rem;
    transition: .2s ease-in;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

    .card:hover {
        width: 62rem;
    }

.title-card {
    font-size:33px;
    padding:35px;
}
.card-title {
    font-size: 17.5px;
    margin-top: 5px;
    font-weight: 400;
}

.card-text {
    font-size:15px;
}

.card-btn {
    background-color:var(--bg-btn-card-red);
}
    .card-btn:hover {
        background-color: #FF4A4A;
    }

/*IFRAME*/
.iframe-container {
    background-color: #ff3939;
    margin-top: 137px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    margin-bottom: 105px;
    color: #fff6f6;
    padding: 60px;
    display: flex;
    gap: 3rem;
}

.title-iframe{
    margin-top: 16px;
    padding-right: 100px;
    padding-left: 20px;
    margin-left: 0;
    text-shadow: 2px 1px 15px rgba(145, 150, 150, 0.18);
    font-size: 34px;
    
}

/*IMG HOME PAGE*/
.img-container {
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover-img {
    width: 800px;
    height: 500px;
    transition: .6s ease;
    transition-property: box-shadow, filter;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

    .cover-img:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

.text-image {
    position: absolute;
    opacity: 0;
}


    .text-image h2 {
        color: var(--bs-white);
        font-size: 28px;
        text-shadow: 2px 1px 15px rgba(145, 150, 150, 0.18);
    }

.img-container:hover {
    transition: .5s ease-in;
    opacity: 0.4;
}


/*VEHICULO/DETALLES*/
.lblModificarVolverLista {
    font-weight:400;
    font-size:17px;
}

/*INFO EXTRA CONTAINER*/

.infoExtra-container {
    display: flex;
    gap: 32px;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 105px;

}
.info-card {
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    padding: 25px;
    border-radius: 3px;
    overflow: hidden;
}

    .info-card:hover {
        width:16rem;
    }

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.btn-infoExtra {
    background-color: none;
    border: none;
    padding: 0;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 100;
}

/*
@media (min-width: 600px) {
    .card-container {
        margin-top: 85px;
        margin-bottom: 85px;
        display: flex;
        gap: 2rem;
    }

    .card {
        width: 30rem;
        transition: .2s ease-in;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}*/