@model Automoviles.Models.Vehiculo

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/homePage.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<div class="container">
    <h1> Vehículo nuevo</h1>

    <hr />
    <div class="row ">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaDeLanzamiento" class="control-label"></label>
                    <input asp-for="FechaDeLanzamiento" class="form-control" />
                    <span asp-validation-for="FechaDeLanzamiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MarcaId" class="control-label"></label>
                    <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.MarcaId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TipoId" class="control-label"></label>
                    <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PaisId" class="control-label"></label>
                    <select asp-for="PaisId" class="form-control" asp-items="ViewBag.PaisId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="SeguroId" class="control-label"></label>
                    <select asp-for="SeguroId" class="form-control" asp-items="ViewBag.SeguroId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ColorId" class="control-label"></label>
                    <select asp-for="ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CombustibleId" class="control-label"></label>
                    <select asp-for="CombustibleId" class="form-control" asp-items="ViewBag.CombustibleId"></select>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" value="Crear vehículo" class="btn card-btn " />
                </div>
            </form>
        </div>
    </div>

    <br>

    <div>
        <a asp-action="Index">Volver a lista</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
